@import "../variables/Variable.scss";
@import "../functions/Function.scss";
.containner {
    display: grid;

}
.mainPage {
    width: 100%;
    margin-top: 10px;
	h1 {
        color: $redColor;
        text-align: center;
        font-size: medium;
	}
	div {
		display: grid;
        column-gap: 10px;
		div {
			@include funcFlex(row, center, center);


            img {
                        width: 30%;
                        height: auto;
                        margin-left: 10px;

                    }
            .coName1 {
                width: 100%;
                font-size: 30px;
                font-family: $titleFont;
                font-weight: bold;

                color: $redColor;
            }
		}


    }

}
h2 {
    text-align: center;
}
.coName2, .coName3 {
    color: $redColor;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    font-family: $titleFont;
}
.adver {
display: grid;
div {
    @include funcFlex(column, center, flex-start);
    padding-left: 10px;
    margin-left: 10px;
    text-align: center;
    h2 {
        font-family: $bodyFont;
    }
}
}
.wrapGalery {
    display: grid;
    div {
        @include funcFlex(column, center, center);
        width: 100%;
       img {
        margin-top: 10px;
           width: 90%;
           height: auto;
       }
    }
}
// @media screen and (min-width: 585px) and (max-width: 728){
//                 h1 {
//                     font-size: x-large;
//                 }
//                 .coName1 {
//                     font-size: 50px;
//                 }
//             }
//             @media screen and (min-width: 729px) and (max-width: 1024){
//                 h1 {
//                     font-size: 10px;
//                 }
//                 .coName1 {
//                     font-size: 20px;
//                 }
//             }
           // @media only screen and (min-width: 1024px) {
    //             h1 {
    //                 font-size: 20px;
    //             }
    //             .coName1 {
    //                 font-size: 60px;
    //             }
    //         }
//     .coName2, .coName3 {
//         width: 100%;
//         font-size: 60px;
//         font-family: $titleFont;
//         font-weight: 900;
//         color: $redColor;

//     }

//     @media only screen and (max-width: 530px) {
//         .coName1 {
//             font-size: 40px;
//         }
//         .coName2 {
//             font-size: 30px;
//         }
//         .coName3 {
//             font-size: 30px;
//         }

//     }
//
// }
// .txtt {

//     div {
//         @include funcFlex(column, center, center);
//         h1 {

//             font-weight: normal;
//         }
//     }
// }
// .galery {

//     @include mobile {
//         img {
//             width: 100%;
//             height: auto;
//             margin-top: 10px;
//         }
//     }
// }
// .adver {
//     padding-left: 20px;
//     @include funcFlex(row, center, center);
//     div {
//         background-color: #fff;
//     }

// }
