@import "../variables/Variable.scss";
@import "../functions/Function.scss";
.mainPage {
    @include funcFlex(column, center, center);
    width: 100%;
    height: auto;




    h1 {
        color: $redColor;
    }
    .coName1 {
        font-size: 80px;
        font-family: $titleFont;
        font-weight: bold;
        color: $redColor;
    }
    .coName2, .coName3 {
        font-size: 60px;
        font-family: $titleFont;
        font-weight: 900;
        color: $redColor;



    }


    @include mobile {
        .coName1 {
            font-size: 40px;
        }
        .coName2 {
            font-size: 30px;
        }
        .coName3 {
            font-size: 30px;
        }

    }
    img {
        width: 80%;
        height: auto;
        margin-top: 10px;
    }
}
.txtt {
display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    align-items: center;
    div {
        @include funcFlex(column, center, center);
        h1 {

            font-weight: normal;
        }
    }
}
.galery {


    @include mobile {
        img {
            width: 100%;
            height: auto;
            margin-top: 10px;
        }
    }
}
.adver {
    padding-left: 20px;
}