@import "../variables/Variable.scss";
@import "../functions/Function.scss";
@import "../styles/grid.scss";

    .header {
        background: black;
        overflow: hidden;
        text-align: center;
    }
    .nav {
        //@include funcFlex(row, center, center);
        text-align: center;
        height: 80px;
        img {
            width: 150px;
            height: 100%;
            padding: 3px;
        }
        ul {
            list-style: none;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: -o-flex;
            display: flex;

        }
    }
    .navLink {
        text-decoration: none;
        padding: 1.5rem;
        color: #fff;
        font-weight: bold;
        transition: all .5s ease;
    }
    .navLink:hover {
        color: #000;
        background: #fff;
    }
