@import "../variables/Variable.scss";
@import "../functions/Function.scss";
@import "../styles/grid.scss";

    .header {
        background: dodgerblue;
        overflow: hidden;
    }
    .nav {
        display: grid;
        grid-template-columns: 6fr 6fr;
        align-items: center;
        width: 1100px;
        margin: auto;
        img {
            width: 120px;
        }
        ul {
            list-style: none;
            display: flex;

        }
    }
    .navLink {
        text-decoration: none;
        padding: 1.5rem;
        color: #fff;
        font-weight: bold;
        transition: all .5s ease;
    }
    .navLink:hover {
        color: #000;
        background: #fff;
    }
