
@mixin funcFlex($direction,$justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin btnStyle($btnColor, $txtColor) {
   width: 200px;
   height: 40px;
   background-color: $btnColor;
   border: none;
   border-radius: 8px;
   color: $txtColor;
   font-size: 25px;

}
@mixin mobile {
    @media only screen and (max-width: 530px) {
        @content
    }
}

// @mixin laptop {
//     @media only screen and (max-width: 686px) {
//         @content
//     }

// }


@mixin breakpoint($point) {
    @if $point == mobile {
        @media screen and (min-width: 320px) {@content;}
    }
    @else if $point == laptop {
        @media screen and (min-width: 768px){@content;}
    }
    @else if $point == desktop {
        @media screen and (min-width: 1224){@content;}
    }
}
